html, body {
  font-family: "Roboto Regular";
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
}



.nav {
  background-color: #211551;
  padding: 5px 0;
  height: 50px;
  width: 100%;
}

.nav .content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-l {
  padding-left: 20px;
}

.pclogo {
  display: block;
  width: 120px;
}

.nav-r {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  align-items: center;
}

.navicons {
    padding-right: 20px;
    height: 24px;
}

.btn.login {
  background: #3f74d9;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  min-width: 80px;
  max-width: 200px;
  display: block;
  text-align: center;
  color: white;
}

.fullpagelink {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.main-bg {
    background-image: url(../images/main-bg-mob.png);
    background-size: auto;
    background-position: center;
    height: 500px;
    position: relative;
}

.headlines {
  position: absolute;
  text-align: center;
  width: 100%;
}

.headlines .texts h1 {
    color: #fff;
    font-family: "Roboto Black";
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    text-transform: uppercase;
}

.headlines .texts h2 {
    color: #ff008a;
    font-family: "Roboto Regular";
    font-size: 1em;
    line-height: 0.5em;
    font-weight: normal;
    text-transform: uppercase;
}

.btn {
  display: block;
  text-transform: uppercase;
}


.btn.primary {
  background: green;
  padding: 10px;
  border-radius: 3px;
  font-size: 23px;
  font-family: "Roboto Black";
  width: 100%;
  min-width: 80px;
  max-width: 200px;
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 10px;
}

.navicons-mob {
  position: absolute;
  bottom: 50px;
  margin: auto;
  left: 0;
  right: 0;
}



.kt {
  position: absolute;
  bottom: 5px;
  color: white;
  font-size: 12px;
  background: #0000007a;
  width: 100%;
  padding: 5px 0;
  margin: -5px 0;
  text-align: center;
}

.second-area {
  background: #110540;
  color: white;
}

.step-cont {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.step-no {
    border: solid 3px white;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: 0 20px;
}

.step .text {
  font-family: "Roboto Black";
  text-transform: uppercase;
  font-size: 2em;
  max-width: 30px;
  line-height: 1em;
}

.step .sub-text {
  font-size: 1em;
}

.jp-ticker {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.terms-area {
  background-color: #211551;
  margin: 10px;
  padding: 10px;
}

.terms-expand {
  color: #ec154a;
}

.terms-title {
  padding: 10px;
  margin: -10px;
  cursor: pointer;
}

.terms-content {
  display: none;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-cont {
    background: #0d0431;
    padding: 10px;
    margin: 10px;
}



.footer {
  background-color: #0d0431;
  width: 100%;
  color: gray;
  display: flex;
}

.disclaimer {
    padding: 17px;
    font-size: 14px;
}

.disclaimer img {
  padding-right: 10px;
}

.disclaimer p {
  display: flex;
  align-items: center;
  flex-direction: row;
}
